/* 
Palette 
https://coolors.co/f5ce69-3c2e21-8f1800-648908-df5605 */



@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --mainfont--: "Barlow", sans-serif;
    --naples-yellow: #f5ce69ff;
    --bistre: #3c2e21ff;
    --penn-red: #8f1800ff;
    --avocado: #648908ff;
    --persimmon: #df5605ff;

}

*{
    text-align: center;
    font-family: var(--mainfont--);
}

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

/*------------------header-------------*/

header{
    display: block;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 30;
}


.navlogo{
    max-width: 60px;
    border-radius: 50%;
}

.container,.navbar{
    background-color:var(--avocado)!important;
    width: 100vw;
}

.nav-link{
    color: var(--bistre);
}

/*--------------------main-----------------------*/

.breakfast{
    
    background-image: url(../images/breakfast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

.lunch{
    background-image: url(../images/lunch.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

.dinner{
    
    background-image: url(../images/dinner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

.hero1{
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3,auto );
}



#mainmessage{
    font-weight: 600;
    color: white;
    font-size: 80px;

}