/* 
Palette 
https://coolors.co/f5ce69-3c2e21-8f1800-648908-df5605 */



@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --mainfont--: "Barlow", sans-serif;
    --naples-yellow: #f5ce69ff;
    --bistre: #3c2e21ff;
    --penn-red: #8f1800ff;
    --avocado: #648908ff;
    --persimmon: #df5605ff;

}

*{
    text-align: center;
    font-family: var(--mainfont--);
    box-sizing: border-box;
    color: black;
}

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
    
}

/*------------------header-------------*/

header{
    display: block;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 30;
}


.navlogo{
    max-width: 60px;
    border-radius: 50%;
}

.container,.navbar{
    background-color:var(--avocado)!important;
    width: 100vw;
}

.nav-link{
    color: var(--bistre);
}

/*--------------------main-----------------------*/

.breakfast{
    
    background-image: url(../images/breakfast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 50vh;
}

.lunch{
    background-image: url(../images/lunch.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 50vh;
}

.dinner{
    
    background-image: url(../images/dinner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 50vh;
}

.hero1{
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3,33.333% );
    grid-template-rows: repeat(2,50%);
    overflow: hidden;
}



#mainmessage,#himessage{

    grid-column: 3;
    grid-row: 2;
    font-family: var(--mainfont--) !important;
    font-weight: 600;
    color: white;
    font-size: 30px !important;
    text-shadow: rgba(0, 0, 0, black);
    

}

/*-----------------------Content body------------------------*/

.hidden{
    overflow: hidden;
}


.titles{
    text-align: left;
    padding: 0 1em;
    margin: 1em auto;
}

.menucontainer{
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: auto;
    height: auto;
    grid-auto-flow: column;
    gap: auto;
    max-width: 80vw;
    margin: auto;
    justify-items: center;
    align-content: center;
    
}

figure{
    width: 25vw;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    background-color: white;
    padding-bottom: 5px;
}

figure:hover{
    transition: all 0.2s ease-in;
    scale: 1.1;
    
    z-index: 2;
}

.promo{
    position: absolute;
    margin: 10px 0 0 10px;
    background-color: var(--avocado);
    color: white;
    padding: 3px 15px;
    border-radius: 10px;
}

.foodimg{
    max-width: 300px;
    border-radius: 10px;
  
}

.description{
    margin: 0;
    display: block;
    padding: 0 10px;
    width: 100%;
    font-size: 15px;
    text-align: left;
}

.pricetime{
    display: inline;
    margin: 5px;
    padding: 3px 10px;
    border-radius: 10px;
    background-color: var(--penn-red);
    color: white;
    
}