@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    /* palette */
    --gunmetal: #31393cff;
    --blue-crayola: #2176ffff;
    --celestial-blue: #33a1fdff;
    --sunglow: #fdca40ff;
    --carrot-orange: #f79824ff;

/* fonts-------*/
--mainfont--: "Poppins", sans-serif;

}

html, body{
    margin: 0;
    padding: 0;
}


*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    box-sizing: border-box;
}

/*-----------------HEADER ---------------------*/
header{
    display: block;
    background-color: var(--sunglow);
    align-items: center;
    justify-items: center;
}

#maintitle{
    text-align: center;
    background: var(--gunmetal);
    color: var(--sunglow);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

nav{
    max-width: 80vw;
    justify-content: center;
    margin: auto;
}

.navigation a{
    
    text-align: center;
    justify-content: center;
    
}

.navigation a, .navigation li{
    text-align: center;
    align-content: center;
    overflow: hidden;
    padding: 0;

}

.navigation li:hover{
    background-color: var(--carrot-orange);
    transition: all 0.3s ease;
}

.navigation{
    padding: 0%;
    margin: auto;
    max-width: 80vw;
}


/*-------------------Main---------------*/

.hero{
    background-image: url(../images/Carpinch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    width: 100vw;
    height: 100vh;
    display: grid;
  
    
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 40% 60%;
    padding: 2em;
}

.data1{
    max-width: 25vw;
}

#country{
    grid-column: 1;
    grid-row: 1;
}

#weather{
    grid-column: 3;
    grid-row: 2;
}


.table1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow: row;
}

.right{
    text-align: left;
    padding-left: 4px;
    margin: 6px 0;

}

.left{
    margin: 6px 0;
    text-align: right;
    font-weight: 700;
}

/*-------------------FOOTER----------------------*/

footer{
    display: flex;
    text-align: center;
    background-color: var(--celestial-blue);
    justify-content: center;
    flex-direction: column;
}




@media  (max-width: 800px) {
    #maintitle{
        padding: 5%;
        height: auto;
        flex-direction: column;
        justify-content: left;
    }

    #menu {
        display: block;
        font-size: 2rem;
        font-weight:700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: #eee;
        color: #000;
    }
    
    #menu::before {
        content: "≡";
    }
    
    nav {
        background-color: var(--sunglow);
    }
    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 760px;
    }
    
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
    .navigation a:hover, navigation a:active {
        color: white;
        background-color: var(--carrot-orange);
    }
    
    .show li {
        display: block;
    }
    
    #menu.show::before {
        content: "X";
    }

/*-------------------------------MAIN--------------------------------*/


#menu::before {
	content: "≡";
}

nav {
	background-color: var(--sunglow);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: var(--carrot-orange);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}


.data1{
    display: none;
}

}
/*-------------------------------MAIN--------------------------------*/


@media  (min-width: 801px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}

