

:root{
    /* palette */
    --gunmetal: #31393cff;
    --blue-crayola: #2176ffff;
    --celestial-blue: #33a1fdff;
    --sunglow: #fdca40ff;
    --carrot-orange: #f79824ff;

/* fonts-------*/
--mainfont--: "Poppins", sans-serif;

}


*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    max-width: 100vw;
}

.active{
    background-color: var(--carrot-orange);
}

@media  (max-width: 600px) {
    #maintitle{
        padding: 5%;
        height: auto;
        flex-direction: column;
        justify-content: left;
    }

    #menu {
        display: block;
        font-size: 2rem;
        font-weight:700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: #eee;
        color: #000;
    }
    
    #menu::before {
        content: "≡";
    }
    
    nav {
        background-color: var(--sunglow);
    }
    .navigation {
        list-style: none;
        display: none;
        flex-direction: column;
        margin: 0 auto;
        max-width: 760px;
        height: 100%;
    }
    
    .displayflex{
        display: block;
    }
    
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
    .navigation a:hover, navigation a:active {
        color: white;
        background-color: var(--carrot-orange);
    }
    
    .show li {
        display: block;
    }
    
    #menu.show::before {
        content: "X";
    }

/*-------------------------------MAIN--------------------------------*/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: var(--sunglow);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: var(--carrot-orange);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

}

@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}


footer{
    display: flex;
    text-align: center;
    background-color: var(--celestial-blue);
    justify-content: center;
    flex-direction: column;
}