


:root{
    /* palette */
    --gunmetal: #31393cff;
    --blue-crayola: #2176ffff;
    --celestial-blue: #33a1fdff;
    --sunglow: #fdca40ff;
    --carrot-orange: #f79824ff;

/* fonts-------*/
--mainfont--: "Poppins", sans-serif;

}


*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    box-sizing: border-box;
}


/*-----------------HEADER ---------------------*/
header{
    display: block;
    background-color: var(--sunglow);
    align-items: center;
}

#maintitle{
    text-align: center;
    background: var(--gunmetal);
    color: var(--sunglow);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#name{
    color:var(--carrot-orange) ;
}


.navigation{
    display: block;
   
    justify-content: space-evenly;
    align-content: center;
    height: 2em;
    
}

nav a{
    width: 100%;
    height: 100%;
}

nav a:hover{
    color: white;
    background-color: var(--carrot-orange);
    width: 110%;
    transition: all 0.3s ease
    
}




/*-------------------Main---------------*/
h2{
    text-align: center;
}

.container{

    max-width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 25px;
    place-items: center;

}

figure{
    
    overflow: hidden;
    justify-items: center;
    align-items: center;
    margin: .5rem;

}

p{
    text-align: center;
}